<header class="bar bar-header bar-dark">
	<button class="button icon ion-navicon button-dark"></button>    
	<h1 class="title">Add My Business</h1> 
</header>
<ion-content has-header="true" scroll="false">
	<div class="item item-image padding">
    	<img src="img/roundview-logo.png">
  	</div>
	<form ng-submit="addBusiness(user)">
		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" placeholder="Business Name" ng-model="user.business_name">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Business Address" ng-model="user.business_address">
		  </label>
		  <!-- <label class="item item-input">
		    <input type="text" placeholder="City">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="State">
		  </label> -->
		  <label class="item item-input">
		    <input type="text" placeholder="Zip Code" ng-model="user.business_zipcode">
		  </label>
		</div>
		<div class="padding">
		  <button type="submit" class="button button-block button-positive">Add my business</button>
		</div>
	</form>

</ion-content>

<div class="bar bar-footer bar-light">
	<div class="title">Copyright Roundview 2014</div>
</div>