<header class="bar bar-header bar-dark">
    <button class="button icon ion-navicon button-dark"></button>
    <h1 class="title">Your Business Mood</h1>
</header>
<ion-content has-header="true" scroll="true" has-footer="false">



<!-- SURVEY RESULTS: BENCHMARKS -->

  <div class="list card">
      <div class="item item-divider">
      Benchmarked Responses
      </div>

    <!-- SUMMARY OF RESPONSES BY VERTICAL COMPETITORS OF THIS BUSINESS  -->
    <div class="list card">  
      <div class="item item-divider">
        <p>Industry Results</p>
      </div>
      <div class="card results" ng-repeat="(question, data) in vertical_chart_data">
        <div data-ng-include="'/www/partials/vertical_chart.html'"></div>
      </div>
    </div>

  </div>

</ion-content>