<header class="bar bar-header bar-dark">
    <button class="button icon ion-navicon button-dark"></button>
    <h1 class="title">Your Diary</h1>
</header>
  
<ion-content has-header="true" scroll="true" has-footer="false">
 
<!-- SURVEY RESULTS: INDIVIDUAL -->

  <div class="list card">
      <div class="item item-divider">
      Your Responses Over The Past Week
      </div>

    <!-- SUMMARY OF RESPONSES BY THIS BUSINESS TO PAST QUESTIONS -->

    <div class="card results" ng-repeat="(key, value) in individual_results">
      <div class="item item-divider">
        <p> {{question_key[key]}} </p>
      </div>
      <div class="list" >
        <div class="item" ng-class="{'below-average': v % 2 == 0, 'above-average': v % 2 != 0}" ng-repeat="(k, v) in value">
            {{k}}: {{answer_key[v]}}
        </div>
      </div>
    </div>


<!--- DIARY ENTRY POSTING
 <select ng-model="orderProp">
    <option value="created_at">Date</option>
    <option value="option_id">Option</option>
  </select>

  <div class="item item-divider">
    <p>Results </P>
  </div>
  
  <div class="card results" ng-repeat="answer in ordered_results | orderBy: orderProp">
    {{answer.created_at}}
    {{answer_key[answer.option_id]}}
  </div>

  <div class="card results" ng-repeat="note in conversation">
    {{note.content}}
  </div>

-->


</ion-content>
