<header class="bar bar-header bar-dark">
	<button class="button icon ion-navicon button-dark"></button>    
	<h1 class="title">Find My Business</h1>
</header>
<ion-content has-header="true" scroll="true" has-footer="true">
	<div class="item item-image padding">
    	<img src="img/roundview-logo.png">
  	</div>
	<form ng-submit="searchBusiness(business)">
		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" placeholder="Business Name" ng-model="business.name">
		  </label>
		   <label class="item item-input">
		    <input type="text" placeholder="Zip Code" ng-model="business.zipcode">
		  </label>
		</div>
		<div class="padding">
		  <button type="submit" class="button button-block button-positive">Find my business</button>
		</div>
	</form>
	
    <div class="card" ng-repeat="result in results">
        <div class="item item-divider">
    		{{result.name}}
    	</div>
    	<div class="item item-text-wrap">
    		<p>{{result.formatted_address}} <p>
  		</div>
  		<div class="item item-divider">
    	<button class="button button-full button-noborder" ng-click="claimBusiness(result)"> <strong> Claim </strong></button>
  		</div>
    </div>
</ion-content>

<div class="bar bar-footer bar-light">
	<div>Can't find your business? <a href="#/add-business">Add it here </a></div>
</div>