<header class="bar bar-header bar-dark">
    <button class="button icon ion-navicon button-dark"></button>
    <h1 class="title">Roundview</h1>
</header>
<ion-content has-header="true" scroll="true" has-footer="false">
  
<!-- QUESTIONS TO THE BUSINESS -->

  <div class="list card">
    <div class="item item-divider">
    Daily Poll
    </div>

      <div class="item item-text-wrap">

      <!-- QUESTIONS TO BE ANSWERED BY THE BUSINESS -->  

        <div class="card question" ng-repeat="question in questions">
          <div class="item item-divider">
            <p>{{question.question_text}}</p>
          </div>
          <div class="list">
            <div class="item" ng-repeat="option in question.options">
              <a ng-click="submitResponse(question, option)">{{option}} </a>
            </div>
          </div>
        </div>

      <!-- DIARY ENTRY  -->

        <form ng-submit="createEntry(entry)">
            <div class="list list-inset">
              <label class="item item-input">
                <input type="text" placeholder="What happened today?" ng-model="entry.title">
              </label>
            </div>
            <div class="padding">
              <button type="submit" class="button button-block button-calm">Log in Diary</button>
            </div>
        </form>
      </div>
  </div>

</ion-content>
