<header class="bar bar-header bar-dark">
	<button class="button icon ion-navicon button-dark"></button>
    <h1 class="title">Sign Up</h1>
</header>

<ion-content has-header="true" scroll="true">
	<form ng-submit="registerUser(user)">
		<div class="list">
		  <label class="item item-input">
		    <input type="text" placeholder="First name" ng-model="user.first_name">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Last name" ng-model="user.last_name">
		  </label>
		  <label class="item item-input">
		    <input type="email" placeholder="Email Address" ng-model="user.email">
		  </label>
		  <label class="item item-input">
		    <input type="password" placeholder="Password" ng-model="user.password">
		  </label>
		  <label class="item item-input">
		    <input type="password" placeholder="Confirm password">
		  </label>
		  <div class="login-error padding-left" ng-repeat="error in errors"> 
		  	{{errors}} </div>
		  <div class="padding"> Note: Password must be at least 8 characters <div>
		</div> 
		<div class="padding">
		  <button type="submit" class="button button-block button-positive">Sign up</button>
		</div>
	</form>

</ion-content>

