<header class="bar bar-header bar-dark">
	<button class="button icon ion-navicon button-dark"></button>
    <h1 class="title">Survey Administration</h1>
</header>

<ion-content has-header="true" scroll="true">
<h3> Existing questions </h3>
	<div class="card" ng-repeat="question in questions track by $index">
	    <div class="item item-divider">
	      <p>{{question.question_text}}</P>
	    </div>
	    <div class="row">
		    <div class="col" ng-repeat="option in question.options track by $index">
		        {{option}}
		    </div>
		</div>
  	</div>
<h3> Add a Question </h3> 
	<div class="card">
		<div class="item item-divider">Create the Survey</div>
		<form name="questionForm" ng-submit="createSurvey(survey)">
			<div class="list">
			  <!-- <label class="item item-input">
			    <input type="text" placeholder="Survey name" ng-model="survey.name">
			  </label>
			  <label class="item item-input">
			    <input type="text" placeholder="Survey description" ng-model="survey.description">
			  </label>
			  <label class="item item-input">
			    <input type="text" placeholder="Survey active? Enter true" ng-model="survey.active">
			  </label> -->
			  <label class="item item-input">
			    <input type="text" placeholder="Question text" ng-model="survey.question_text">
			  </label>
			  <label class="item item-input">
			    <input type="text" placeholder="Left response" ng-model="survey.question_option1">
			  </label>
			  <label class="item item-input">
			    <input type="text" placeholder="Right response" ng-model="survey.question_option2">
			  </label>
			</div> 
			<div class="padding">
			  <button type="submit" class="button button-block button-positive">Create survey</button>	
			</div>
		</form>
	</div>

	<!-- <div class="card">
		<div class="item item-divider">Create the question & answers</div>
		<form ng-submit="createQuestion(question)">
			<div class="list">
			  <label class="item item-input">
			    <input type="text" placeholder="Question text" ng-model="question.text">
			  </label>
			  <label class="item item-input">
			    <input type="text" placeholder="Question answer 1" ng-model="question.option1">
			  </label>
			  <label class="item item-input">
			    <input type="text" placeholder="Question answer 2" ng-model="question.option2">
			  </label>
			</div> 
			<div class="padding">
			  <button type="submit" class="button button-block button-positive">Create question</button>	
			</div>
		</form>
	</div> -->
</ion-content>
