<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Roundview Alpha</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="css/ionic.css">
    <link rel="stylesheet" href="css/app.css">
    
    <script src="js/jquery.js"></script>
    <script src="js/ionic.js"></script>
    <script src="js/angular/angular.js"></script>
    <script src="js/angular/angular-animate.js"></script>
    <script src="js/angular/angular-route.js"></script>
    <script src="js/angular/angular-touch.js"></script>
    <script src="js/angular/angular-sanitize.js"></script>
    <script src="js/angular-ui/angular-ui-router.js"></script>
    <script src="js/angular-ui/ui-utils.js"></script>
    <script src="js/ionic-angular.js"></script>
    <script src="js/highstock.src.js"></script>
    <script src="js/highcharts-ng.js"></script>
    
    <script src="js/app.js"></script>  
    <script src="js/ionic.swipecards.js"></script>


    <!-- Needed for Cordova/PhoneGap -->
    <script type="text/javascript" src="cordova.js"></script>
    
  </head>
  <body ng-app="todo" ng-controller="ViewCtrl">
   <ion-nav-bar animation="nav-title-slide-ios7" 
             type="bar-positive" 
             back-button-type="button-icon" 
             back-button-icon="ion-arrow-left-c"></ion-nav-bar>


  <ion-side-menus>

    <!-- Center content -->
    <ion-pane ion-side-menu-content>
     
     <ion-nav-view> </ion-nav-view>

    </ion-pane>
    
    <!-- Left menu -->
     <ion-side-menu side="left">
          <header class="bar bar-header bar-dark">
            <h1 class="title">Navigation</h1>
          </header>
          <ion-content has-header="true" scroll="false">
            <ion-list>
              <ion-item ng-repeat="view in views"> 
                {{view.title}}
              </ion-item>
            </ion-list>
          </ion-content>
      </ion-side-menu> -->

  </ion-side-menus>

</body>
</html>