@import "ionic/ionic";

// your slick styles can go here...
// when Sass processes, both Ionic's Sass and your Sass will combine 
// into one file and saved in your app's directory as css/app.css

.error {
	color: #EC143C;
}	

.button-noborder {
	border: 0px;
}

.individual-results {
	background-color: #6B8FD4;
}

.vertical-results {
	background-color: #FFE573;
}

.neighborhood-results {
	background-color: #60D5AC;
}

.above-average {
	background-color: #FE7276;
	text-align: left;
	width: 100%;
    height: 30px;
}

.below-average {
	background-color: #2D9B27;
	text-align: left;
	width: 100%;
    height: 30px;
}


.individual-dates {
	font-size: 15px;
	width: 100%;
	text-align: center;
}